@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap');

:root {
	--primary-color: #FF7F00;
	--black2: #495057;
}

body {
	font-family: 'Nunito', sans-serif;
	color: var(--black2);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

/* Header */

header {
	background-color: #FFF;
	padding: 10px 0;
	box-shadow: 0 5px 10px rgba(204, 204, 204, .3);
}

header h1 {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

header .avatar-container {
	width: 60px;
	height: 60px;
	position: relative;
	cursor: pointer;
}

header .avatar-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

header .avatar-container > i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 20px;
	color: var(--primary-color);
}

.profile-options-modal .profile-options-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.profile-options-modal .profile-options-list > li a {
	display: block;
	padding: 10px 0;
	color: var(--black2);
}

.profile-options-modal .profile-options-list > li > i{
	display: inline-block;
	width: 18px;
	text-align: center;
	margin-right: 5px;
}


